<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
    <div class="login-container">
        <h2>로그인</h2>
        <form class="login-form" th:action="@{/login}" method="post">
            <div>
                <label for="username">이메일:</label>
                <input type="text" id="username" name="username" required />
            </div>
            <div>
                <label for="password">비밀번호:</label>
                <input type="password" id="password" name="password" required />
            </div>
            <button type="submit">로그인</button>
            <button type="button" onclick="location.href='/helloSpringDataJpa/signup'">회원가입</button>
        </form>
        <div class="message" th:if="${message}">
            <p class="error" th:text="${message}"></p>
        </div>

        <div class="message" th:if="${param.error}">
            <p class="error">이메일 또는 비밀번호가 올바르지 않습니다.</p>
        </div>

        <div class="message" th:if="${param.logout}">
            <p class="logout">성공적으로 로그아웃되었습니다.</p>
        </div>
    </div>
</body>
</html>